@model IEnumerable<BookStore.Domain.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="container">
    <div class="m-3">
        <a class="btn btn-success" asp-controller="Books" asp-action="Create">Add new book</a>
    </div>

    @for(int i=0;i < Model.Count(); i++)
    {
        var item = Model.ElementAt(i);
        
        if(i % 3 == 0)
        {
            @:<div class="row">
        }

        <div class="col-3 m-4">

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="@item.Image" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">@item.Description</p>
                    @* <p class="card-text">@(item.Author.FirstName + " " + item.Author.LastName)</p> *@
                    @* <p class="card-text">@item.Publisher.Name</p> *@
                    <h6>Price: @item.Price</h6>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-center align-items-center">
                        <a asp-controller="Books" asp-action="Details" asp-route-id="@item.Id" class="btn btn-info mx-1 text-white">Details</a>
                        <a asp-controller="Books" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary mx-1">Edit</a>
                        <a asp-controller="Books" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger mx-1">Delete</a>
                    </div>
                    <a asp-controller="Books" asp-action="AddToCart" asp-route-id="@item.Id" class="btn btn-success w-100 mx-auto mt-2">Add to Cart</a>
                </div>

            </div>
        </div>

        if(i % 3 == 2)
        {
            @:</div>
        }
    }
</div>


@* <h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publisher)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <img src="@item.Image" alt="Book Image" style="max-width: 100px; max-height: 100px;" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher.Address)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table> *@
